<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{%- block title %}{% endblock -%}</title>

    <link rel="stylesheet" href="{{ request.url_for("static", path="/modern-normalize.css") }}">
    <link rel="stylesheet" href="{{ request.url_for("static", path="/style.css") }}">

    <meta http-equiv="expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />

    {%- block meta %}{% endblock -%}
</head>
<body>
    {%- block body %}{% endblock -%}
</body>
</html>
